.u-section-1 .u-sheet-1 {
  min-height: 658px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 54px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 54px auto 60px 374px;
  padding: 36px 149px 37px 148px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-left: 174px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }
}